{% extends "water/templates/index.html" %}
{% block header %}
{{ super() }}
<div style="border: 4px solid black; text-align: center; max-width: 800px; margin: auto;">
    <h3 style="margin: 0.5rem;">1st JoinJabber meeting Feb 7</h3>
    <p style="margin: 0.5rem auto;">Our collective is just getting started! We'll meet on 07/02/2021, at 5:00PM GMT on a <a href="xmpp:meeting@joinjabber.org">multi-user chat (meeting@joinjabber.org)</a> to decide where we're headed. You're more than welcome to join us!</p>
</div>
{% endblock header %}
{% block footer %}
{{ super() }}
<p>
Our infrastructure is kindly hosted by fosshost.<br>Our servers are configured following Ansible playbooks (sysadmin recipes) you can inspect and contribute to <a href="https://codeberg.org/joinjabber/infra/">here</a>.
<br><br><a href="https://fosshost.org/"><img style="max-height: 4em;" src="{{ get_url(path="fosshost.png") }}"></a>
</p>
{% endblock footer %}
